/*  your css code here. If applicable */
.container{
	height: 150px;
	width: 400px;
	border: 2px solid black;
	margin-left: 80px;
	margin-top: 80px;
	background-color: #B2B2B2;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signal{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: 10px;
}
.green{
	background-color: green;
	display: inline-block;
}
.yellow{
	background-color: yellow;
	display: inline-block;
}
.red{
	background-color: red;
	display: inline-block;
}